@import "animation";
@import "colors";

//p {
//  font-family: Roboto;
//  font-weight: 400;
//  cursor: default;
//}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

//--------------HEADER--------------
//#header {
//  //z-index: 20;
//  //position: fixed;
//  //width: 100%;
//  //background-color: $greydark;
//  //.navbar-brand {
//  //  font-family: Rockwell;
//  //  font-size: 24px;
//  //  font-style: normal;
//  //  font-variant: normal;
//  //  font-weight: 700;
//  //  line-height: 26.4px;
//  //}
//}

//--------------REGION ONE--------------
.treeline-logo {
  height: 40%;
  position: absolute;
  left: 50%;
  opacity: 0.2;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main {
  background-color: $greydark;
  height: 100%;
}

.text-thin {
  font-size: 3em;
  font-family: Roboto;
  font-weight: 100;
}

.text-bold {
  font-size: 5em;
  letter-spacing: 10px;
  font-family: Rockwell;
  &.text-small {
    font-size: 3em;
  }
}

.text-smaller {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.5em;

}

.region-one {
  color: $greylight;
  position: fixed;
  width: 100%;
  height: 100%;
  &.overlay {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      animation: fadenotall 2s;
      opacity: 0.75;
    }
    &.overlay-fade-out {
      &:after {
        animation: fadenotallreverse 1s;
      }

      .video-wrapper {
        .video-close {
          animation: moveclose-reverse .5s, fadeout .5s;
        }
        .myVideo {
          animation: scale-reverse .4s;
        }
        &:before {
          animation: movedown-video-reverse .5s;
        }
        &:after {
          animation: moveup-video-reverse .5s;
        }
      }
    }
  }

  .content {
    height: 100%;
    position: relative;
  }

  .video-wrapper {
    position: fixed;
    z-index: 10;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:before {
      content: "";
      position: absolute;
      width: 25px;
      border-bottom: 3px solid $gold;
      border-left: 3px solid $gold;
      height: 25px;
      z-index: -1;
      left: -.5%;
      bottom: -1%;
    }
    &:after {
      content: "";
      position: absolute;
      width: 25px;
      border-top: 3px solid $gold;
      border-right: 3px solid $gold;
      height: 25px;
      right: -0.5%;
      z-index: -1;
      top: -1%;
    }

    &.visible {
      &:after {
        animation: moveup-video .5s;
      }
      &:before {
        animation: movedown-video .5s;
      }
      .myVideo {
        display: block;
        animation: scale .5s;
      }
      .video-close {
        display: block;
        animation: fadein .5s, moveclose .5s;
        transition: ease-in-out;
      }
    }

    .video-close {
      cursor: pointer;
      display: none;
      font-size: 40px;
      z-index: 20;
      width: 40px;
      position: absolute;
      right: 2%;
      color: $gold;
      text-align: center;
      top: 3%;
      height: 40px;
      background: none;
      line-height: 0.8;
      font-family: Roboto;
      font-weight: bold;
    }
    .myVideo {
      display: none;
      width: 100%;
      transition: ease-in-out;
    }

  }

  .overlay-main, .overlay-bottom, .overlay-video {
    position: absolute;
    animation: fadein 1s;

    &:after {
      content: "";
      position: absolute;
      width: 3px;
      background-color: $gold;
      transition: 500ms ease-in-out;
    }

    p {
      line-height: 1.2;
      position: relative;
      transition: 500ms ease-in-out;
    }
    .text {
      cursor: default;
    }
  }

  .overlay-main {
    top: 10%;
    left: 10%;
    &:after {
      height: 75px;
      top: 30px;
      left: -5%;
      animation: moveup .75s;
    }
    &:hover {
      &:after {
        top: -5px;
      }
      .text {
        p {
          top: 10px;
        }
      }
    }

    .text {
      p {
        top: 0;
        animation: movedown .75s;
      }
    }
  }

  .overlay-bottom {
    text-align: center;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    &:after {
      height: 4px;
      top: -5%;
      left: -60px;
      width: 75px;
      animation: moveright .75s;
    }
    &:hover {
      &:after {
        left: -30px;
      }
      .text {
        p {
          left: 0;
        }
      }
    }
    .text {
      cursor: pointer;
      p {
        left: 10px;
        animation: moveleft .75s;
      }
    }
    .glyphicon {
      font-size: 21px;
    }
  }

  .overlay-video {
    position: absolute;
    width: 200px;
    right: 12%;
    top: 22%;

    &:hover {
      .play-button {
        .glyphicon {
          transform: scale(1.2);
        }
      }
      .text {
        p {
          left: 0;
        }
      }
    }
    .text {
      p {
        left: 10px;
        animation: moveleft .75s, movedown .75s;
      }
    }
    .play-button {
      position: absolute;
      right: -25%;
      bottom: -8%;
      cursor: pointer;

      .glyphicon {
        transition: .5s ease-in-out;
        background-color: $gold;
        font-size: 45px;
        padding: 10px 8px 10px 12px;
      }
    }
  }
}

//--------------REGION TWO--------------
.region-two {
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-color: $greylight;

  p {
    color: $greydark;
    text-align: center;
  }

  .topic {
    text-align: center;
    padding: 0 0 60px 0;
    opacity: 0;
    transition: all 700ms ease-out .1s;
    &.in-view {
      opacity: 1;
    }
  }
  .bullet-points {
    display: flex;
  }
  .funding, .social-media, .visit {
    max-width: 400px;
    margin: 50px auto;
    flex: 1 1 0;
    .headline {
      span {
        display: block;
        text-align: center;
      }
      opacity: 0;
      transition: all 700ms ease-out .2s;
      transform: translateX(-25px);
    }
    p {
      opacity: 0;
      transition: all 700ms ease-out .2s;
      transform: translateX(25px);
    }
    &.in-view {
      .headline, .social-media-share-buttons, .social-media-follow-buttons, p, iframe {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .social-media {
    margin-top: 100px;
    .headline, p {
      transition: all 700ms ease-out .4s;
    }
  }
  .funding {
    iframe {
      margin: 25px auto;
      display: block;
      opacity: 0;
      transition: all 700ms ease-out;
    }
  }
  .visit {
    margin-top: 100px;
    .headline {
      transition: all 700ms ease-out .6s;
    }
    p {
      transition: all 700ms ease-out .6s;
    }
  }
  .number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $gold;
    font-size: 4em;
    opacity: 0.4;
    z-index: -1;
  }
  .social-media-share-buttons, .social-media-follow-buttons {
    transition: all 700ms ease-out .4s;
    opacity: 0;
    display: flex;
    justify-content: center;
    .fab, .far {
      font-size: 40px;
      margin: 30px 20px;
      color: $greydark;
      transition: all 200ms ease-out .1s;
      cursor: pointer;
      z-index: 1;
      position: relative;

      &:after {
        transition: all 200ms ease-out .1s;
        content: "";
        position: absolute;
        left: -50%;
        bottom: -10%;
        width: 100%;
        height: 3px;
        background-color: $gold;
        opacity: 0;
        display: block;
      }

      &:hover {
        &:after {
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1350px) {

  .text-thin {
    font-size: 2em;
  }
  .text-bold {
    font-size: 3em;
    &.text-small {
      font-size: 1.5em;
    }
  }
  .text-smaller {
    font-size: 1em;
  }

  .region-one {
    .video-wrapper {
      width: 100%;
      max-width: 82%;
    }
    .overlay-main {

      .text {
      }
      .glyphicon {
        font-size: 40px;
      }
    }
    .overlay-video {
      right: 15%;
      top: 10%;
      .play-button {
        right: -23%;
        .glyphicon {
          font-size: 30px;
        }
      }
    }
  }

}

@media (max-width: 786px) {

  .text-bold {
    font-size: 2em;
  }
  .region-one {
    .overlay-video, .overlay-main {
      position: unset;
      text-align: center;
      padding: 10px;

      p {
        position: unset;
      }
    }

    .overlay-video {
      width: 100%;

      .play-button {
        position: unset;
      }
    }

    .overlay-main {
      margin: 20px 0;

      &:after {
        height: 25px;
        left: 10px;
      }

      p {
        display: inline-block;
        &:first-child {
          margin-right: 15px;
        }
      }
    }

    .overlay-bottom {
      &:after {
        width: 25px;
        left: -30px;
      }
    }
  }
  .region-two {
    .funding, .social-media, .visit {
      .headline, p {
        transform: translateX(0);
      }
    }

    .bullet-points {
      flex-direction: column;
      padding: 0 15px;
    }
    .funding, .social-media, .visit {
      max-width: 300px;
      margin-top: 50px;
      padding: 0 10px;
    }

    .funding {
      order: -1;
    }
  }

}
