$greylight :  #f1f1f1;
$greydark : #1a1a1a;
$gold :  #d4af37;


$fontsize-sm : 18px;
$fontsize-md : 18px;
$fontsize-lg : 24px;
$fontsize-main : 40px;


$font-family-primary : 'Oleo Script', cursive;
$font-family-secondary : 'Roboto';

//font-family: 'Patrick Hand SC', cursive;
//font-family: 'Yesteryear', cursive;
//font-family: 'Grand Hotel', cursive;
//font-family: 'Damion', cursive;
//font-family: 'Kalam', cursive;
//font-family: 'Gamja Flower', cursive;
//font-family: 'Kaushan Script', cursive;
//font-family: 'Patrick Hand', cursive;
//font-family: 'Great Vibes', cursive;
//font-family: 'Leckerli One', cursive;
//font-family: 'Cookie', cursive;
//font-family: 'Pacifico', cursive;
//font-family: 'Berkshire Swash', cursive;
//font-family: 'Oleo Script', cursive;
